/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";

@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
@tailwind utilities;


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}

@keyframes pulse-star {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-pulse-star {
  animation: pulse-star 1.5s ease-in-out infinite;
}

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
